Code/Mojo/Tools/Mojo.Xml/contours.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contours">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="contour">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="created" type="xs:string" />
              <xs:element name="edited" type="xs:string" />
              <xs:element name="value">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="point">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="author" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="class" type="xs:string" use="required" />
            <xs:attribute name="color" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>