Code/Mojo/Tools/Mojo.Xml/dataset.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="section">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="layout">
                <xs:complexType>
                  <xs:attribute name="filename" type="xs:string" use="required" />
                  <xs:attribute name="annotation" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>